.equipe{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.equipe .nextage{
    width: 200px;
    background-color: rgb(46, 46, 46);
    box-shadow: black 3px 3px 5px;
    color: #fff;
    padding: 20px;
    border: black solid;
}

.equipe .nextage img{
    width: 100%;
}

.equipe .nextage h2{
    color: rgb(255, 108, 108);

}